
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*calculates fontsize defualt of 1 rem to be 10px*/ }

body {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #FFF;
  box-sizing: border-box; }

#wrapper {
  max-width: 117rem;
  width: 100%;
  margin: 0 auto; }

footer {
  background-color: #353f47; }

.mt-auto {
  margin-top: auto; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-6 {
  margin-top: 6rem; }

.mt-8 {
  margin-top: 8rem; }

.mb-auto {
  margin-bottom: auto; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mb-8 {
  margin-bottom: 8rem; }

.mb-14 {
  margin-bottom: 14rem; }

.text-center {
  text-align: center; }

.black {
  color: #515f67 !important; }

.white {
  color: #FFF !important; }

.btn {
  transition: .2s all;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  border: 1px solid transparent;
  padding: 1.75rem 4rem;
  background-color: #4bcaff;
  color: #FFF;
  display: inline-block;
  text-decoration: none; }
  .btn:hover {
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 1.75rem 4rem;
    color: #FFF;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .btn:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }
  .btn-text {
    transition: .2s all;
    text-transform: uppercase; }
    .btn-text:link, .btn-text:visited {
      font-size: 1.2rem;
      font-weight: 400;
      color: #000;
      display: inline-block;
      text-decoration: none;
      border: 1px solid #000;
      padding: 1rem 4rem; }
    .btn-text:hover {
      background-color: #000;
      color: #FFF;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      transform: translateY(-2px); }
    .btn-text:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transform: translateY(0); }

.section-services {
  background-color: #4bcaff; }

.section-awesome {
  background-color: #515f67; }

.section-social {
  background-color: #4bcaff; }

.section-about {
  background-image: url(../images/aboutbg.jpg);
  background-size: cover;
  background-position: center;
  height: auto; }

.section-contact {
  background-image: url(../images/contactbg.jpg);
  background-size: cover;
  background-position: center;
  height: auto; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px; }

.col-2 {
  grid-column: auto/span 2; }

.col-3 {
  grid-column: auto/span 3; }

.col-4 {
  grid-column: auto/span 4; }

.col-5 {
  grid-column: auto/span 5; }

.col-6 {
  grid-column: auto/span 6; }

.col-8 {
  grid-column: auto/span 8; }

.col-10 {
  grid-column: auto/span 10; }

.col-12 {
  grid-column: auto/span 12; }

.row-2 {
  grid-row: auto/span 2; }

.row-4 {
  grid-row: auto/span 4; }

.row-6 {
  grid-row: auto/span 6; }

.row-8 {
  grid-row: auto/span 8; }

.row-10 {
  grid-row: auto/span 10; }

.row-12 {
  grid-row: auto/span 12; }

.header {
  position: relative;
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: top; }
  .header-nav {
    display: block;
    background-color: rgba(81, 95, 103, 0.5);
    padding: 3.5rem 0; }
    .header-nav-logo {
      display: inline-block;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 700; }
      .header-nav-logo-primary {
        color: #4bcaff; }
      .header-nav-logo-secondary {
        color: #FFF; }
    .header-nav-list {
      display: flex;
      font-size: 1.5rem;
      font-weight: 500;
      text-transform: uppercase; }
      .header-nav-list li {
        display: inline-block;
        list-style-type: none; }
      .header-nav-list li:nth-child(2) {
        margin-left: auto; }
      .header-nav-list li:not(:last-child) {
        margin-right: 4rem; }
      .header-nav-list li a {
        display: block;
        text-decoration: none;
        color: #FFF;
        padding-top: .7rem;
        transition: all .2s; }
      .header-nav-list li a:hover {
        color: #4bcaff; }
      .header-nav-list .active {
        color: #4bcaff;
        border: solid 1.5px #4bcaff;
        padding: .7rem 2rem; }
  .header-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200; }
  .heading-primary-main {
    background-color: rgba(81, 95, 103, 0.4);
    font-size: 3.2rem;
    padding: .5rem 1rem; }
  .heading-primary-sub {
    background-color: rgba(81, 95, 103, 0.4);
    font-size: 3.2rem;
    padding: .5rem 1rem; }

.heading-secondary {
  display: inline-block;
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 6rem; }
  .heading-secondary:after {
    content: "";
    display: block;
    width: 3.7rem;
    border-bottom: 1.5px solid #FFF; }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500; }

.icon {
  width: 48px;
  height: 48px; }

.paragraph {
  font-size: 1.15rem;
  font-weight: 400; }

.heading-quad {
  display: inline-block;
  color: #515f67;
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: .5rem; }
  .heading-quad:after {
    content: "";
    display: block;
    width: 3.7rem;
    border-bottom: 1.5px solid #515f67; }

.heading-list {
  display: flex;
  padding-top: 6rem; }
  .heading-list li:nth-child(2) {
    margin-left: auto; }
  .heading-list li {
    display: inline-block;
    list-style-type: none; }
  .heading-list li:not(:last-child) {
    margin-right: 4rem; }
  .heading-list li a {
    display: block;
    margin-top: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #515f67;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: .5rem;
    transition: all .2s; }
  .heading-list li a:hover {
    color: #4bcaff; }
  .heading-list .active {
    border: solid 2px #4bcaff;
    padding: .5rem 2rem;
    color: #4bcaff; }

.portfolio {
  position: relative;
  max-width: 27rem;
  max-height: 27rem; }
  .portfolio-img {
    width: 100%;
    height: auto;
    transform: scale(1.02);
    backface-visibility: hidden;
    transition: all .3s; }
  .portfolio-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .portfolio:hover .portfolio-caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .portfolio:hover .portfolio-img {
    transform: scale(1);
    filter: blur(3px) brightness(60%); }

.awesome-text {
  line-height: 2rem; }

.awesome-video {
  padding-top: 6rem;
  width: 100%;
  height: auto; }

.heading-quad-white {
  display: inline-block;
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: .5rem; }
  .heading-quad-white:after {
    content: "";
    display: block;
    width: 3.7rem;
    border-bottom: 1.5px solid #FFF; }

.heading-list li i {
  display: block;
  margin-top: 1rem;
  text-decoration: none;
  font-size: 2rem;
  padding-top: .5rem; }

.social-text {
  font-size: 2.5rem; }

.social-link {
  text-decoration: none;
  font-weight: 400;
  color: #FFF; }

.about-text {
  line-height: 2rem; }

.about-icons {
  font-size: 2.5rem;
  display: flex; }
  .about-icons li {
    display: inline-block;
    list-style-type: none;
    border: 1px solid #FFF;
    border-radius: 2px;
    width: 100%;
    max-width: 5.5rem;
    padding: 1.2rem 1rem;
    text-align: center; }
  .about-icons li:not(:last-child) {
    margin-right: 1.5rem; }
  .about-icons li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    transition: all .2s; }
  .about-icons li a:hover {
    color: #4bcaff; }

.feedback-text {
  color: #515f67;
  font-size: 2.5rem; }

.feedback .paragraph {
  color: #4bcaff;
  font-weight: 700;
  font-size: 1.2rem; }

.contact-form {
  display: block; }
  .contact-form label {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700; }
  .contact-form-input {
    display: block;
    color: #FFF;
    width: 100%;
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 1.75rem 2rem;
    font-size: 1.2rem;
    line-height: 1.25; }

.contact-text {
  font-size: 1.2rem;
  margin-top: 2rem; }

.contact-list {
  font-size: 1.2rem;
  font-weight: 400;
  list-style: none; }

.footer-list {
  display: flex; }
  .footer-list li:last-child {
    margin-left: auto; }
  .footer-list li {
    font-size: 1.1rem;
    display: inline-block;
    list-style-type: none;
    color: #515f67; }
  .footer-list li:not(:last-child) {
    margin-right: 2rem; }
  .footer-list li a {
    display: block;
    margin-top: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #515f67;
    font-weight: 500;
    transition: all .2s; }
  .footer-list li a:hover {
    color: #4bcaff; }
