//colors
$color-blue-light: #4bcaff;
$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;
$color-gray-light: #f7f7f7;
$color-gray-dark: #515f67;
$color-white: #FFF;
$color-black: #515f67;
$color-black-dark: #000;

//default fontsize 

$font-default: 2rem;
