.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.col-2 {
    grid-column: auto/span 2;
}
.col-3 {
    grid-column: auto/span 3;
}
.col-4 {
    grid-column: auto/span 4;
}
.col-5 {
    grid-column: auto/span 5;
}
.col-6 {
    grid-column: auto/span 6;
}
.col-8 {
    grid-column: auto/span 8;
}
.col-10 {
    grid-column: auto/span 10;
}
.col-12 {
    grid-column: auto/span 12;
}

.row-2 {
    grid-row: auto/span 2;
}
.row-4 {
    grid-row: auto/span 4;
}
.row-6 {
    grid-row: auto/span 6;
}
.row-8 {
    grid-row: auto/span 8;
}
.row-10 {
    grid-row: auto/span 10;
}
.row-12 {
    grid-row: auto/span 12;
}

/* Grid Layout */


*, *:before, *:after {
box-sizing: border-box;
}

.container {
margin: 0 auto;
padding: 0 15px;
width:100%;
}

@media (max-width:767px) { //mobile sizing
.container {max-width:750px; width: 100%;}
}

@media (min-width:768px) { //tablet
.container {width:750px;}
}

@media (min-width:992px) { //smaller desktop
.container {width:970px;}
}

@media (min-width:1200px) { //larger desktop
.container {width:1170px;}
}

.col1x, .col2x, .col3x, .col4x, .col5x, .col6x, .col7x, .col8x, .col9x, .col10x, .col11x, .col12x,.col1s, .col2s, .col3s, .col4s, .col5s, .col6s, .col7s, .col8s, .col9s, .col10s, .col11s, .col12s, .col1m, .col2m, .col3m, .col4m, .col5m, .col6m, .col7m, .col8m, .col9m, .col10m, .col11m, .col12m, .col1l, .col2l, .col3l, .col4l, .col5l, .col6l, .col7l, .col8l, .col9l, .col10l, .col11l, .col12l {
float:left;
position:relative;
min-height: 1px;
padding-left: 15px;
padding-right: 15px;
}

.row {
margin-left:-15px;
margin-right:-15px;
}

.row:before, .row:after {
display:table;
content: " ";
clear:both;
}

.col1x {width:8.33333333%;}
.col2x {width:16.66666667%;}
.col3x {width:25%;}
.col4x {width:33.33333333%;}
.col5x {width:41.66666667%;}
.col6x {width:50%;}
.col7x {width:58.33333333%;}
.col8x {width:66.66666667%;}
.col9x {width:75%;}
.col10x {width:83.33333333%;}
.col11x {width:91.66666667%;}
.col12x {width:100%;}

@media (max-width:767px) {
.col1xs {width:8.33333333%;}
.col2xs {width:16.66666667%;}
.col3xs {width:25%;}
.col4xs {width:33.33333333%;}
.col5xs {width:41.66666667%;}
.col6xs {width:50%;}
.col7xs {width:58.33333333%;}
.col8xs {width:66.66666667%;}
.col9xs {width:75%;}
.col10xs {width:83.33333333%;}
.col11xs {width:91.66666667%;}
.col12xs {width:100%;}
}

@media (min-width:768px) {
.col1s {width:8.33333333%;}
.col2s {width:16.66666667%;}
.col3s {width:25%;}
.col4s {width:33.33333333%;}
.col5s {width:41.66666667%;}
.col6s {width:50%;}
.col7s {width:58.33333333%;}
.col8s {width:66.66666667%;}
.col9s {width:75%;}
.col10s {width:83.33333333%;}
.col11s {width:91.66666667%;}
.col12s {width:100%;}
}

@media (min-width:992px) {
.col1m {width:8.33333333%;}
.col2m {width:16.66666667%;}
.col3m {width:25%;}
.col4m {width:33.33333333%;}
.col5m {width:41.66666667%;}
.col6m {width:50%;}
.col7m {width:58.33333333%;}
.col8m {width:66.66666667%;}
.col9m {width:75%;}
.col10m {width:83.33333333%;}
.col11m {width:91.66666667%;}
.col12m {width:100%;}
}

@media (min-width:1200px) {
.col1l {width:8.33333333%;}
.col2l {width:16.66666667%;}
.col3l {width:25%;}
.col4l {width:33.33333333%;}
.col5l {width:41.66666667%;}
.col6l {width:50%;}
.col7l {width:58.33333333%;}
.col8l {width:66.66666667%;}
.col9l {width:75%;}
.col10l {width:83.33333333%;}
.col11l {width:91.66666667%;}
.col12l {width:100%;}
}

img.responsive {
width:100%;
height:auto;
}

