.header {
    position: relative;
    height: 100vh;
    background-image: url(../images/cover.jpg); 
    background-size: cover;
    background-position: top;

    &-nav {
        display: block;
        background-color: rgba($color-black, .5);
        padding: 3.5rem 0;

        &-logo {
            display: inline-block;
            text-transform: uppercase;
            font-size: 2.5rem;
            font-weight: 700;
            
            &-primary {
                color: $color-blue-light;
            }
            &-secondary {
                color: $color-white;
            }
        }
        &-list {
            display: flex;
            font-size: 1.5rem;
            font-weight: 500;
            text-transform: uppercase;
            
            & li {
                display: inline-block;
                list-style-type: none;
            }
            & li:nth-child(2) {
                margin-left: auto;
            }
            & li:not(:last-child) {
                margin-right: 4rem;
            }
            & li a {
                display: block;
                text-decoration: none;
                color: $color-white;
                padding-top: .7rem;
                transition: all .2s;
                
            }

            & li a:hover {
                color: $color-blue-light;
            }
            .active {
                border: solid 1.5px $color-white;
                padding: .7rem 2rem;
            }
        }


    }

    &-text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;

    &-main {
        background-color: rgba($color-black,.4);
        font-size: 3.2rem;
        padding: .5rem 1rem;
    }

    &-sub {
        background-color: rgba($color-black,.4);
        font-size: 3.2rem;
        padding: .5rem 1rem;
    }
}