.btn {
    
    &:link, &:visited {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        transition: all .2s;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }

    &-white {
        background-color: $color-white;
        color: $color-gray-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    } 

    &-animated {
        animation: moveInBottom .5s ease-out .85s;
        animation-fill-mode: backwards;
    }

    &-text {
        transition: .2s all;
        text-transform: uppercase;
        
        &:link, &:visited {
            font-size: 1.2rem;
            font-weight: 400;
            color: $color-black;
            display: inline-block;
            text-decoration: none;
            border: 1px solid $color-black;
            padding: 1rem 4rem;
        }
        &:hover {
            background-color: $color-black;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            transform: translateY(-2px);
        }
        &:active {
            box-shadow: 0 .5rem 1rem rgba($color-black, .15);
            transform: translateY(0);
        }
    }
}